<h1>Edit word_answer</h1>
<div class="box">

<p>Qestion: <%= @word.content %></p>
<br>

<%= form_for([@word.category,@word,@word_answer]) do |a| %>
  <div class ="field">
    <%= a.label :Answer %>
    <%= a.text_field :content %>
    <%= a.check_box :is_correct%>
  </div>

  <div class="actions">
    <%= a.submit %>
  </div>
<% end %>