<% provide(:title,@user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <ul class="activity">
      <h2>Activity</h2>
      <% @lessons.each do |lesson| %>
        <% if lesson.category.lessons.find_by(user: current_user) != nil %>
          <li>Leaned <%= lesson.result %> in Lesson "<%= lesson.category.title %>" - <%= time_ago_in_words(lesson.created_at) %> ago</li>
        <% end %>
      <% end %>

      </ul>
      <%= render 'follow_form' if logged_in? %>
  </div>
</div>

<!-- asending -->