<% provide(:title, 'Category') %>

<h1>Category</h1>
<div class ="box">
  <table class="categories">
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.title, category %></td>
        <td><%= category.description %></td>
        <td><%= link_to "Show", category %></td>
        <td><%= link_to "Edit", edit_category_path(category) %></td>
        <td><%= link_to "Delete", category, method: :delete, data: {confirm: "You sure?"} %></td>
      </tr>
    <% end %>
  </table>
  <div class="button">
      <a href="/admin/categories/new">
      <button class="btn btn-primary btn-lg">Add</button>
      </a>
  </div>
</div>

